<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}{{title_creator}}{% endblock %}
{% block content %}

   <h1>
     Привет, я Денис
   </h1>
   <p>
      Я начал программировать с 12 лет. Моим первым языком программирования был Кумир, позже я только познакомился с Python. 
      Это мой первый сайт, который я смог сам написать. Ещё одна ступень моего развития в информационнных технологиях. 
      Я бы хотел создать что-то своё, то , что будет полезным для человечества. Сейчас мне 16 лет. Я амбициозен, мотивирован и молод. 
      Всё ещё впереди!
   </p>
{% endblock %}