{% extends "base.html" %}
{% block title %}{{title_creator}}{% endblock %}
{% block content %}
{% load static %}
   <h1>
      Добро пожаловать на страничку автора!
   </h1>
   <p>
      Меня зовут Попов Денис Иванович. Мне 17 лет.  Первый раз столкнулся с IT в 12 лет.
   </p> 
   <img src="{% static 'img/me2.png' %}" width="385" height="500" align="center">
   <h2>
      Что же это за проект?
   </h2>
   <p>
      Это мой первый сайт, который я смог сам написать. Социальная сеть, где можно выкладывать посты с картинками, редактировать их, комментировать любой пост. 
   </p>
   <p>   
      В проект внедрена система регистрирования, смена и сброса пароля через электронную почту.
      В ходе работы я руководствовался правилами PEP8 и DRY.
   </p>
      Ещё одна ступень моего развития в информационнных технологиях. 
   </p>
   <p>
      <b>Каждый день надо работать над собой!</b>
   </p>
{% endblock %}