{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>
      Языки программирования, которыми я владею:
    </h1>
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Python
            </li>
            <li class="list-group-item">
              Django
            </li>
            <li class="list-group-item">
              C++
            </li>
            <li class="list-group-item">
              SQL
            </li>
          </ul>
        </aside>
      </div>
  </div>
{% endblock %} 